@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;500;600;700;800&display=swap');


*{
    font-family: 'Manrope', sans-serif;
}

body{
    margin: 0;
    padding: 0;
    row-gap: 100px;
    justify-content: center;
    background: hsl(218, 23%, 16%);
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    min-height: 100vh;
}



.container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin : 0 auto;            
    padding: 2rem;
    border-radius: 12px;
    max-width: 300px;
    height: auto;
    padding-bottom: 6rem;
    background:  hsl(217, 19%, 24%);
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    
 
  
}
.container:hover{
    box-shadow:  0 6px 20px 0 rgba(0, 0, 0, 0.19);
}



.btn{
    position: absolute;
    text-align: center;
    bottom: -8%;
    left: calc(45%);
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background:  hsl(150, 100%, 66%);
    border: none;
    
}

.btn:hover{
    color: rgba(255, 255, 255, 1);
    box-shadow: .1px 0px 10px 10px hsla(150, 100%, 66%, 0.205);
}

.dice{
    width: 20px;
    vertical-align: middle;
}

.advice-section{
    margin-top: 15px;
    height: auto;
    width: 450px;
}

h4{
    text-transform:uppercase;
    font-weight: 800;
    font-size: x-small;
    letter-spacing: 3px;
    color: hsl(150, 100%, 66%) ;
    margin-bottom: 25px;
}

p{
    height: fit-content;
    font-size: x-large;
    color: hsl(193, 38%, 86%);
    text-align: center;
    margin-top: -5px;
    font-weight: 800;
}
.divider{
    position: absolute;
    bottom: 50px;
    left: 0;
    right: 0;
    
}


.desktop{
    overflow: hidden;
    visibility: hidden;
    height: 0;
}




@media(min-width: 900px){
     .container{
         max-width: 500px;
     }

     .desktop{
         visibility: visible;
         height: auto;
     }
     .mobile{
        visibility: hidden;
        height: 0;
     }
}