@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;500;600;700;800&display=swap');


*{
    font-family: 'Manrope', sans-serif;
}

body{
    margin: 0;
    padding: 0;
    justify-content: center;
    background: hsl(218, 23%, 16%);
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    min-height: 100vh;
}


.preloader{
    width: 50px;
    position: fixed;
    margin-left: -1.5em;
    margin-top: 3em;
    visibility: visible;
    z-index: 999;
    

}

.hide{
    visibility: hidden;
    z-index: -999;
    height: 0;
    
}


.container{
    margin : 0 auto;            
    padding: 1rem;
    border-radius: 12px;
    width: 300px;
    height: 200px;
    background:  hsl(217, 19%, 24%);
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
   text-align: center;
  
}
.container:hover{
    box-shadow:  0 6px 20px 0 rgba(0, 0, 0, 0.19);
}



.btn{
    position: absolute;
    text-align: center;
    bottom: -8%;
    left: 44.5%;
    right: 0;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background:  hsl(150, 100%, 66%);
    border: none;
}

.btn:hover{
    color: rgba(255, 255, 255, 1);
    box-shadow: .1px 0px 10px 10px hsla(150, 100%, 66%, 0.205);
}

.dice{
    margin-top: 2px;
    width: 15px;
}

.advice-section{
    margin-top: 15px;
    height: 120px;
    width: 300px;

}

h4{
    text-transform:uppercase;
    font-size: x-small;
    color: hsl(150, 100%, 66%) ;
}

p{
    color: hsl(193, 38%, 86%);
    text-align: center;
    margin-top: -5px;
}
.divider{
    position: fixed;
    margin-top: 20px;
}
img{
    width: 300px;
}


@media screen and (min-width: 1000px) {
      .btn{
        bottom: -20px;
      }
}